@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: rebeccapurple">
    <h1>Ínicio</h1>
    <img src="~/Imgs/Logo.jpg" style="width:220px; height:128px; margin-left: 400px;" alt="Alternate Text" />
</div>