
@{
    ViewBag.Title = "Carreira";
}

<div class="row">

    <div class="row">
        <h2>Cadastro Carreira</h2>

        <hr />
        <form>
            <div class="row MargensRow">
                <div class="col-sm-4">
                    <label class="label AzulFacebook">Nome da Carreira</label>
                    <input type="email" class="form-control MargensTopLabel" />
                </div>
            </div>

            <div class="row MargensRow">
                <div class="col-sm-3">
                    <label class="MargensRow"></label>
                    <button class="btn btn-block VerdinhaMarCaribe" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

