
@{
    ViewBag.Title = "UsuarioCarreira";
}

<div class="row">

    <div class="row">
        <h2>Matricular Usuário</h2>

        <hr />
        <form>
            <div class="row MargensRow">
                <div class="col-sm-4">
                    <label class="label AzulFacebook">Usuário</label>
                    <select class="form-control MargensTopLabel">
                        <option>User 1</option>
                        <option>User 2</option>
                        <option>User 3</option>
                        <option>User 4</option>
                        <option>User 5</option>
                        <option>User 6</option>
                    </select>
                </div>
            </div>

            <div class="row MargensRow">
                <div class="col-sm-4">
                    <label class="label AzulFacebook">Carreiras</label>
                    <select class="form-control MargensTopLabel">
                        <option>Carreira 1</option>
                        <option>Carreira 2</option>
                        <option>Carreira 3</option>
                        <option>Carreira 4</option>
                    </select>
                </div>
            </div>

            <div class="row MargensRow">
                <div class="col-sm-3">
                    <label class="MargensRow"></label>
                    <button class="btn btn-block VerdinhaMarCaribe" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
