
@{
    ViewBag.Title = "Carreiras Seguidas";
}

<h2>Carreiras</h2>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">            
            <div class="caption">
                <h3>CRC(Central de Relacionamento ao Cliente)</h3>
                <p>Total de Horas: 76 Horas</p>
                <p><a href="@(Url.Action("Conteudo", "Usuario"))" class="btn btn-primary" role="button">Seguir Carreira</a> <a href="#" class="btn btn-danger" role="button">Deixar de Seguir</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">            
            <div class="caption">
                <h3>COR(Centro de Operações de Redes)</h3>
                <p>Total de Horas: 100 Horas</p>
                <p><a href="@(Url.Action("Conteudo", "Usuario"))" class="btn btn-primary" role="button">Seguir Carreira</a> <a href="#" class="btn btn-danger" role="button">Deixar de Seguir</a></p>
            </div>
        </div>
    </div>
</div>