
@{
    ViewBag.Title = "Relatorio";
}

<h2>Relatorio</h2>

<h1>Rendimento do funcionário</h1>
<table class="table table-bordered bg-dark">

    <thead>
        <tr>
            <th class="scope">Colaborador</th>
            <th class="scope">Setor</th>
            <th class="scope">Cargo</th>
            <th class="scope">Módulo Cursado</th>
            <th class="scope">Data/Hora Ult.Acesso</th>
            <th class="scope">Tempo Total Logado</th>
            <th class="scope">Acertos</th>
            <th class="scope">Erros</th>
            <th class="scope">Média</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mario Santana</td>
            <td>Operacional</td>
            <td>Atendimento</td>
            <td>CRC(Central de Relacionamento ao Cliente)</td>
            <td>03/12/2018 14:33:00</td>
            <td>25 Minutos</td>
            <td>2</td>
            <td>1</td>
            <td>50%</td>
        </tr>
        <tr>
            <td>Luiz Carlos</td>
            <td>Operacional</td>
            <td>Atendimento</td>
            <td>CRC(Central de Relacionamento ao Cliente)</td>
            <td>03/12/2018 14:38:10</td>
            <td>5 Minutos</td>
            <td>1</td>
            <td>1</td>
            <td>100%</td>
        </tr>
    </tbody>
    <tr>
        <td>
            <button class="btn btn-info">Imprimir</button>
        </td>
    </tr>
</table>